.actions .ext-search-container {
  clear: both;
  padding-top: 3px;
  overflow: hidden;
}

.actions a.ext-search {
  float: right !important;
  margin-right: 0 !important;
}

.actions .ext-search:hover em {
  background-position: 0 -10px;
}

.actions .ext-search:active em {
  background-position: 0 -20px;
}